@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  :root {
    --background: 240 50% 96.1%; /* Fourth, but lighter for background */
    --foreground: 240 67% 12%; /* Fourth */
    --card: 0 0% 100%;
    --card-foreground: 240 67% 12%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 67% 12%;
    --primary: 284 62% 30%; /* Primary */
    --primary-foreground: 0 0% 98%;
    --secondary: 293 43% 25%; /* Secondary */
    --secondary-foreground: 0 0% 98%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 341 100% 48%; /* Button */
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 284 62% 30%;
    --chart-1: 284 62% 30%;
    --chart-2: 341 100% 48%;
    --chart-3: 281 55% 53%; /* Tertiary */
    --chart-4: 293 43% 25%;
    --chart-5: 204 90% 58%; /* Button Hover */
    --radius: 0.8rem;
  }

  .dark {
    --background: 240 67% 12%; /* Fourth */
    --foreground: 0 0% 98%;
    --card: 240 67% 15%; /* Darker card */
    --card-foreground: 0 0% 98%;
    --popover: 240 67% 12%;
    --popover-foreground: 0 0% 98%;
    --primary: 284 62% 30%; /* Primary */
    --primary-foreground: 0 0% 98%;
    --secondary: 293 43% 25%; /* Secondary */
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 341 100% 48%; /* Button */
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 20.9%;
    --input: 240 3.7% 20.9%;
    --ring: 284 62% 30%;
    --chart-1: 284 62% 30%;
    --chart-2: 341 100% 48%;
    --chart-3: 281 55% 53%; /* Tertiary */
    --chart-4: 293 43% 25%;
    --chart-5: 204 90% 58%; /* Button Hover */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
