@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  :root {
    --background: 240 50% 96.1%;
    --foreground: 240 67% 12%;
    --card: 0 0% 100%;
    --card-foreground: 240 67% 12%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 67% 12%;
    --primary: 263 60% 58%;
    --primary-foreground: 0 0% 98%;
    --secondary: 293 43% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 43 96% 56%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 263 60% 58%;
    --chart-1: 263 60% 58%;
    --chart-2: 43 96% 56%;
    --chart-3: 281 55% 53%;
    --chart-4: 293 43% 25%;
    --chart-5: 204 90% 58%;
    --radius: 0.8rem;
  }

  .dark {
    --background: 255 60% 15%;
    --foreground: 220 14% 96%;
    --card: 253 56% 24%;
    --card-foreground: 220 14% 96%;
    --popover: 255 60% 15%;
    --popover-foreground: 220 14% 96%;
    --primary: 262 83% 60%;
    --primary-foreground: 220 14% 96%;
    --secondary: 253 56% 24%;
    --secondary-foreground: 220 14% 96%;
    --muted: 253 56% 24%;
    --muted-foreground: 220 14% 75%;
    --accent: 48 96% 53%;
    --accent-foreground: 255 60% 15%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 220 14% 96%;
    --border: 253 56% 20%;
    --input: 253 56% 20%;
    --ring: 262 83% 60%;
    --chart-1: 262 83% 60%;
    --chart-2: 48 96% 53%;
    --chart-3: 253 56% 24%;
    --chart-4: 255 60% 15%;
    --chart-5: 48 96% 63%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
